
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/images/cadastroUsuario.PNG" id="icon" alt="User Icon" />
            <h1>Acesse o sistema</h1>
        </div>
        <!-- Login -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuário">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>
        <!-- Recuperação de senha -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Recuperar Senha</a>
        </div>
    </div>
</div>